{{> Admin/navbar}}
<div class="row py-3">
    <div class="col-md-2">
        {{> Admin/menuSide}}
    </div>
    <div class="col-md-10 ">
        <div class="row">
            {{> Admin/home}}
        </div>
    </div>
</div>