<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../../public/ErrorStyle/css/style400.css" rel="stylesheet">
</head>

<body>
    <h1>400 Bad Request</h1>

    <section class="error-container">
        <span>4</span>
        <span><span class="screen-reader-text">0</span></span>
        <span>0</span>
    </section>
    <div class="link-container">
        <a href="/" class="more-link">Go
            Home</a>
    </div>
</body>

</html>