
<table class="table table-hover category" id="catLv1">
  <thead>
    <tr>
      <th scope="col" style="width:20%">Mã</th>
      <th scope="col" style="width:60%">Tên</th>
      <th scope="col" style="width:20%"></th>
    </tr>
  </thead>
  <tbody>
    {{#listCategoryLv1 catLv1 IdLv1}}{{/listCategoryLv1}}
  </tbody>
</table>