<div class="col-sm-3">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <h5 class="card-title">Tổng sản phẩm</h5>
        <div class="row">
            <div class="col-md-7">
                <img src="../../../public/Admin/Img/icons8-combo-chart-100.png" class="card-img" alt="...">
            </div>
            <div class="col-md-5">
                <p class="card-text">{{total_3}}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <h5 class="card-title">Tổng Builder</h5>
        <div class="row">
            <div class="col-md-7">
                <img src="../../../public/Admin/Img/icon_chart_yell.png" class="card-img" alt="...">
            </div>
            <div class="col-md-5">
                <p class="card-text">{{total_1}}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <h5 class="card-title">Tổng Seller</h5>
        <div class="row">
            <div class="col-md-7">
                <img src="../../../public/Admin/Img/icon-chart-blue(1).png" class="card-img" alt="...">
            </div>
            <div class="col-md-5">
                <p class="card-text">{{total_2}}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <h5 class="card-title">sản phẩm bán được</h5>
        <div class="row">
            <div class="col-md-7">
                <img src="../../../public/Admin/Img/icons_chart_green.png   " class="card-img" alt="...">
            </div>
            <div class="col-md-5">
                <p class="card-text">999</p>
            </div>
        </div>
    </div>
</div>