<ul class="list-group list-group-flush shadow">
    <a href="/admin" class="list-group-item list-group-item-action {{#if activeHome}} active {{/if}}"><i class="fas fa-home pr-2"></i>Trang Chủ</a>
    <a href="/admin/category" class="list-group-item list-group-item-action {{#if activeCat}} active {{/if}}">Danh mục category</a>
    <a href="/admin/users/?t=Builder" class="list-group-item list-group-item-action 
                {{#if activeUser}} active{{/if}}"><i class="fas fa-users pr-2"></i>Danh sách User</a>
    <a href="/admin/requests" class="list-group-item list-group-item-action {{#if actiRequests}} active {{/if}}"><i class="far fa-comment-dots pr-2"></i>Yêu cầu nâng cấp</a>
</ul>