<nav class="row navbar navbar-light bg-light">
    <a class="navbar-brand">Admin</a>
    <a class="navbar-brand" href="/Logout"> <button type="button" class="btn btn-danger">Logout</button> </a>
</nav>